// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

// Fonts
// Supports weights 100-900
@import "@fontsource-variable/dm-sans";
@import "@fontsource/libre-baskerville";

// Custom styles
body {
  font-family: $font-body;
}
h1, h2 {
  font-family: $font-header;
  font-weight: bold;
  margin-top: 1rem!important;
}
h1.line-below::after, h2.line-below::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 150px;
  margin: 10px 0 0;
  border-bottom: 5px solid $primary; /* Thick line */
  margin-top: 1rem!important;
  margin-bottom: 2rem!important;
}
h3, h4, h5, h6 {
  // font-family: $font-header;
  margin-top: 1rem!important;
  font-weight: bold;
}
h3.line-below::after, h4.line-below::after, h5.line-below::after, h6.line-below::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 100px;
  margin: 5px 0 0;
  border-bottom: 3px solid $primary-light; /* Thick line */
  margin-top: 1rem!important;
  margin-bottom: 2rem!important;
}


.card {
  border: 0;
  border-radius: 0;
  background-color: $white;
  box-shadow: 0 0 20px rgba($dark, .1);
}

.bg-shaded {
  background-color: $primary-bg-light;
}

// card
.card .form-control {
  border: 0;
  background-color: $gray-100;
}

a.link-external::after {
  content: '\F1C5'; /* Unicode for bi-external link icon */
  font-family: 'bootstrap-icons';
  margin-left: 0.25rem; /* Add space between the link text and the icon */
  font-size: 0.75rem; /* Adjust icon size if needed */
  display: inline-block;
}